backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2022.12.7
colorama==0.4.4
decorator==4.4.2
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.7.0
numpy==1.19.3
pandas==1.1.5
parso==0.7.1
pg8000==1.16.6
pickleshare==0.7.5
prompt-toolkit==3.0.8
Pygments==2.7.4
python-dateutil==2.8.1
pytz==2020.4
pywin32==301
pyzmq==20.0.0
scramp==1.2.0
selenium==3.141.0
six==1.15.0
soupsieve==2.1
splinter==0.14.0
tornado==6.1
traitlets==5.0.5
urllib3==1.26.5
wcwidth==0.2.5
wincertstore==0.2
